select {
  font-size:13px;
  color: #555;
  border:none;
  background-color: #ffff;
  height: 30px;
  margin-right: 5px;
  margin-top :5px;
}
@media screen and (max-width: 600px) {
   select{
    width: 100%;
  }
}
