.terms-checkbox{
  margin-top: 15px;
display: flex;
justify-content: center;
}
.input-wrapper{
  width: 18%;
}
#terms{
  width: 28px;
  margin-top: 25px;
  margin-right: 0;
  height: 19px;
}
.label-for-terms{
    margin-left: 0;
    font-size:10px;
}
@media screen and (max-width: 600px) {
  .input-wrapper{
    width: 60%;
  }
}  
